include ../mixins/_mixins.pug
include ../partials/settings_and_overides.pug
doctype html
html(lang="en")
head
  meta(charset=meta.charset)
  meta(name="keywords" content=meta.keywords)
  meta(name="description" content=meta.description)
  meta(http-equiv="x-ua-compatible" content="ie=edge")
  meta(http-equiv="default-style" content="Bootstrap-4")
  meta(name="viewport" content=meta.viewport)
  block title
    +full-title(site.title)
  block styles
    link(title="Bootstrap-4" rel="stylesheet" href=styles.bootstrap)
    link(title="FontAwesome-4.6.3" rel="stylesheet" href=styles.fontAwesome)
    link(title="MainStyles" rel="stylesheet" href=styles.main)
body
  block navigation
    include ../partials/navbar.pug
  block content
    +jumbotron({size: 1,title: site.title + ".com"})
      +a-btn-primary("#","Learn More...")
    .container-fluid
      .row
        .col-xl-12
          .row
            block main_content
            block sub_content
  block testamonials
  block footer
    footer#footer.bg-inverse.p-a-2.text-xs-center
      p.text-muted Copyright &copy; 2016 Jeremy Bolding All Rights Reserved.
  block scripts
    script(src=scripts.jquery type="text/javascript")
    script(src=scripts.tether type="text/javascript")
    script(src=scripts.bootstrap type="text/javascript")
    script(src=scripts.main type="text/javascript")